body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: showDown 0.2s backwards;
  -webkit-animation: showUp 0.2s backwards;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  background-color: #FFF;
  overflow-y:scroll;
  overflow-x: visible;
}

@media (min-width: 640px) { 
  body {
    background-color: #F1F1F1;
  }
}

.show-up {
  position: absolute;
  animation: showUp 0.2s ease-in;
  animation-fill-mode: forwards; 
}

.show-down {
  position: absolute;
  animation: showDown 0.2s ease-out;
  animation-fill-mode: forwards;  
}

@keyframes showUp {
  0%   { top: -100px; }
  100% { top:0px; }
}

@keyframes showDown {
  0%   { top: 0px; }
  100% { top: -100px; }
}