.progress-bar-success {
    background: #4eaf5e!important;
}

.progress-bar-info {
    background: #4848ff!important;
}

.progress-bar-warning {
    background: rgb(255, 199, 59)!important;
}

.progress-bar-error {
    background:  rgb(232, 33, 33)!important;
}
